const token = 'SEU TOKEN'

module.exports = {
    token,
    apiUrl:`https://api.telegram.org/bot${token}`,
    apiFileUrl: `https://api.telegram.org/file/bot${token}`
}

https://api.telegram.org/bot926610276:AAHSMwkbcBVsC_WEhQojpWhEHMu5loW_njw